.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  margin-top: 70px;
}

.div-info-inicio {
  width: max-content;
}

.div-visao, .div-status {
  display: flex;
  height: 30px;
  margin-bottom: 5px;
  font-size: 14px;
}

.div-label-visao, .div-info-visao, .div-label-status, .div-info-status {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-style: solid;
  border-color: #00392d;
  border-width: 1px;
}

.div-label-visao, .div-label-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  margin-right: 2.5px;
  background-color: white;
  color: #00392d;
}

.label-visao, .label-status {
  font-weight: bold;
}

.div-info-visao, .div-info-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  margin-left: 2.5px;
  width: 100px;
}

.div-info-visao{
  background-color: white;
  color: #00392d;
}
.div-info-status {
  background-color: #00d3a5;
  color: #00392d;
}

.info-visao, .info-status {
  margin-left: 5px;
}

.calendar-container {
  display: flex;
  flex: 1;
  justify-content: center;
  height: 100%;
}

.responsive-calendar {
  width: 50%;
  max-width: 100%;
  height: auto;
}

.action-button {
  background-color: #fff;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

